<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ViewListMainActivity" />
        <activity android:name=".sportview.SportViewActivity" />
        <activity android:name=".flipboard.FlipboardViewActivity" />
        <activity android:name=".recyclerview.MultiRvActivity" />
    </application>

</manifest>